<div class="sky">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="headline">Sparkle</h1>
      <h2 class="sub-headline">Save The Pics You Love</h2>
    </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inputContainer">
        <input class="fields form-control" type="text" placeholder="email" formControlName="email" />
      </div>
      <p class="error" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" >Please enter email to login</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <input class="fields form-control" type="password" placeholder="password"
        formControlName="password" />
      </div>
      <p class="error" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter password to login</p>
    </div>
    <div class="row buttons">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn button">Log In</button>

      </div>
      <p class="error" style="margin-top:20px" *ngIf="errorMessage">{{errorMessage.error}}</p>
    </div>
  </form>
  <div class="row buttons">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <a [routerLink]= "['/sign-up']">
        <button class="btn button">
          Sign Up
        </button>
      </a>
    </div>
  </div>
</div>
