.headline {
  margin-top: 100px;
}

.sky {
  height: 1000px;

}

.sparkle {
  animation-name: sparkle;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay:
}

@keyframes sparkle {
    20% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }